{% extends "registration/registration_base.html" %}
{% load url from future %}
{% load i18n %}

{% block masthead %}
<h2>{% trans "Login" %}</h2>
{% endblock %}

{% block content %}
<div class="col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3">
    <form action="" method="post">{% csrf_token %}
    <table class="table">
        {{ form.as_table }}
    </table>
    <button class="btn btn-primary" type="submit">Login</button>
</form>
        <a class="btn btn-default btn-small" href="{% url "auth_password_reset" %}">Forgot your password?</a>
        <a class="btn btn-default btn-small" href="{% url "registration_register" %}">Register a new account</a>
</div>
{% endblock %}
