{% extends "registration/registration_base.html" %}
{% load url from future %}
{% load i18n %}

{% block masthead %}
<h2>Registration form</h2>
{% endblock %}

{% block content %}
<div class="col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3">
<form method="post" action="">
    {% csrf_token %}
    <table class="table">
    {{ form.as_table }}
    </table>
    <button class="btn btn-primary" type="submit">Register</button>
</form>
</div>
{% endblock %}
