.gtkm-main-nav {
    background-color: rgb(52, 152, 219);
    color: rgb(255, 255, 255);
}
.gtkm-main-nav span {
    color: rgb(255, 255, 255);
}
.gtkm-main-nav .nav a {
    color: rgb(205, 223, 250);
}
.gtkm-main-nav .nav a:hover, .gtkm-main-nav .nav a:focus, .gtkm-main-nav .nav .active a {
    background-color: rgb(41, 128, 185);
    color: rgb(255, 255, 255);
}
.gtkm-main-nav a.navbar-brand {
    color: rgb(255, 255, 255);
}
.gtkm-main-nav .dropdown-menu a {
    color: rgb(52, 152, 219);
}

.gtkm-main-nav .dropdown-menu a:hover, .gtkm-main-nav .dropdown-menu a:focus {
    color: rgb(255, 255, 255);
}
.gtkm-main-nav .navbar-toggle:hover, .gtkm-main-nav .navbar-toggle:focus {
    background-color: rgb(41, 128, 185);
}


.info-group {
    padding-top: 30px;
}
#person-name {
    font-weight: 500;
    line-height: 1.5;
}

