<!DOCTYPE html>
<html>
<head>
    <title>GTKM</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="{{ STATIC_URL }}css/font-awesome.min.css" rel="stylesheet" media="screen">
    <link href="{{ STATIC_URL }}css/g2km.css" rel="stylesheet" media="screen">
</head>
<body>
{% include "navbar.html" %}
{% if messages %}
<div class="container">
{% for message in messages %}
<div class="col-sm-10 col-sm-offset-1 col-lg-8 col-lg-offset-2">
    <div class="alert alert-{% if message.tags %}{{ message.tags }}{% endif %}">
        <button data-dismiss="alert" type="button" class="close">&times;</button>
        {{ message }}
    </div>
</div>
{% endfor %}
</div>
{% endif %}
{% block body %}
<div class="container">
    <div class="page-header">
    {% block masthead %}
    {% endblock %}
    </div>

    {% block content %}
    {% endblock %}
</div>
{% endblock body %}
<script src="{{ STATIC_URL }}js/jquery.min.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
</body>
</html>
