{% load active from g2km %}
<div class="navbar navbar-static-top gtkm-main-nav">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".main-navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <a href="/" class="navbar-brand">G2KM</a>
    <div class="nav-collapse collapse main-navbar-collapse">
    <ul class="nav navbar-nav pull-right">
        <li class="{% active request.path '^/$' %}"><a href="/" title="home"><i class="icon-home"></i></a></li>
        <li><a href="{% url 'resume_simple' %}"><i class="icon-rocket"></i> Resume</a></li>
        <li><a href="{% url 'resume_download' %}"><i class="icon-download"></i> Download</a></li>
        {% if user.is_authenticated %}
        <li class="dropdown {% active request.path '^/accounts/' %}"><a href="#" class="dropdown-toggle" data-toggle="dropdown" title="settings"><i class="icon-cogs"></i></a>
            <ul class="dropdown-menu">
                <li><a href="{% url 'accounts_main' %}"><i class="icon-wrench"></i> Account</a></li>
                <li><a href="{% url 'accounts_profile' %}"><i class="icon-user"></i> Profile</a></li>
                <li><a href="{% url 'auth_password_change' %}"><i class="icon-asterisk"></i> Password</a></li>
                <li class="divider"></li>
                {%  if user.is_staff %}<li><a href="/admin/"><i class="icon-flag"></i> Admin</a></li>{% endif %}
                {% url 'auth_logout' as logout %} <li class="{% active request.path logout %}"> <a href="{{ logout }}" title="logout"><i class="icon-signout"></i> Logout</a></li>
            </ul>
        </li>
        {% else %}
        {% url 'auth_login' as login %} <li class="{% active request.path login %}"> <a href="{{ login }}" title="login"><i class="icon-signin"></i></a></li>
        {% url 'registration_register' as register %}
        <li class="{% active request.path register %}"><a href="{{ register }}" title="register"><i class="icon-unlock"></i></a></li>
        {% endif %}
    </ul>
    </div>
</div>
