{% extends "base.html" %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-12 col-sm-7 col-lg-8">
            <h1 id="person-name">Karambir Singh Nain</h1>
            <p class="lead">Web Developer</p>
        </div>
        <div class="col-12 col-sm-4 col-sm-offset-1 col-lg-3 col-lg-offset-1">
            <address>
                <a class="btn btn-default" href="mailto:karambir@codesters.org"><i class="icon-envelope"></i></a>
                <a class="btn btn-default" href="http://nainomics.in"><i class="icon-link"></i></a>
                <a class="btn btn-default" href="http://twitter.com/"><i class="icon-twitter"></i></a>
                <a class="btn btn-default" href="http://facebook.com/"><i class="icon-facebook"></i></a>
                <a class="btn btn-default" href="http://github.com/"><i class="icon-github"></i></a>
            </address>
            <address>
                <strong>Phone:</strong> (+91) 9560526929<br>
                06, Chaudhary Complex<br>
                TCP-2, Hisar Cantt<br>
                Hisar, Haryana 125006<br>
                India
            </address>
        </div>
    </div>

    <div class="row info-group">
    <div class="col-lg-12">
        <h2>About me</h2>
        <hr />
        <p>I am a web developer proficient in making full scale web apps with Django(a python based Web Framework), JavaScript and HTML5.I also have knowledge of programming languages like C, C++, Python and Java. I have interests in Startups related to Web Applications, Cloud Computing and Education</p>
    </div>
    </div>

    <div class="row info-group">
    <div class="col-lg-12">
        <h2>Education</h2>
        <hr />
        <ol class="list-unstyled">
            <li>
                <h3>B.Tech Computer Science and Engineering <small>Amity University Haryana</small></h3>
                <p>I did my Bachelors in Computer Science from Amity Universty Haryana from 2010-14.</p>
            </li>
            <li>
                <h3>12th (High School) <small>Army School, Hisar</small></h3>
                <p>I completed my High school from Army Public School, Hisar(hry)</p>
            </li>
        </ol>
    </div>
    </div>

    <div class="row info-group">
    <div class="col-lg-12">
        <h2>Skills</h2>
        <hr />
        <ul class="">
            <li>C</li>
            <li>Python</li>
            <li>C++</li>
            <li>Java</li>
            <li>HTML/CSS</li>
            <li>JavaScript</li>
            <li>Django</li>
            <li>Git</li>
        </ul>
    </div>
    </div>

    <div class="row info-group">
    <div class="col-lg-12">
        <h2>Projects</h2>
        <hr />
        <ul class="list-unstyled">
            <li>
                <h3>Codesters</h3>
                <p>Codesters is what I wanted to make since I started learning Python. I had to ask people from many forums, websites for their recommendations on books, ebooks, tutorials and online courses. This is where this side project started. Recommending and helping people learn any computer science topic so that they don't waste their time searching for the right resource.<br>
It is live and being developed with help of 3 of my friends.</p>
                <a href="#" class="btn btn-primary">Visit</a>
                <a href="#" class="btn btn-default">Source</a>
            </li>
            <li>
                <h3>CollegeDiveIn</h3>
                <p>CollegeDiveIn helps you find exciting and popular college events to attend. Get information about interesting college clubs, events, festivals, parties, workshops and seminars across India. We have an online assignment submission system for teachers and students.</p>
                <a href="#" class="btn btn-primary">Visit</a>
                <a href="#" class="btn btn-default">Source</a>
            </li>
            <li>
                <h3>GTKM</h3>
                <p>Juat a resume site. Nothing else :P</p>
                <a href="#" class="btn btn-primary">Visit</a>
            </li>
        </ul>
    </div>
    </div>

    <div class="row info-group">
    <div class="col-lg-12">
        <h2>Experience</h2>
        <hr />
        <ul class="list-unstyled">
            <li>
                <h3>Company1</h3>
                <p>Worked on backend involving Python and somw C extensions. Increased their website loading speed which resulted in increase of 300% in user signups.</p>
            </li>
            <li>
                <h3>Company2 Ltd</h3>
                <p>Worked on backend involving Python and somw C extensions. Increased their website loading speed which resulted in increase of 300% in user signups.</p>
            </li>
        </ul>
    </div>
    </div>
</div><!-- /container -->
<div class="row footer well">
    <p class="text-right">Built with Bootstrap3 and G2KM &copy 2013</p>
</div>
{% endblock body %}
