{% extends "profiles/base.html" %}

{% block masthead %}
<h1>Change Setting</h1>
{% endblock %}
{% block content %}
<div class="col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3">
    <form action="" method="post">{% csrf_token %}
        <table class="table">
        {{ form.as_table }}
        </table>
        <button class="btn btn-primary"><i class="icon-save"></i> Save</button>
    </form>
</div>
{% endblock %}
