{% extends "profiles/base.html" %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-12 col-sm-7 col-lg-8">
            <h1 id="person-name">{{ profile.get_full_name }} {% if userprofile.available %}<small><span class="label"><i class="icon-ok"></i></span></small>{% endif %}</h1>
            <p class="lead">{{ userprofile.designation|default:"(Not Provided)" }}</p>
        </div>
        <div class="col-12 col-sm-4 col-sm-offset-1 col-lg-3 col-lg-offset-1">
            <address>
                <a class="btn btn-default" href="mailto:{{ userprofile.contact_email }}"><i class="icon-envelope"></i></a>
                <a class="btn btn-default" href="http://nainomics.in"><i class="icon-link"></i></a>
                <a class="btn btn-default" href="http://twitter.com/"><i class="icon-twitter"></i></a>
                <a class="btn btn-default" href="http://facebook.com/"><i class="icon-facebook"></i></a>
                <a class="btn btn-default" href="http://github.com/"><i class="icon-github"></i></a>
            </address>
            <address>
                <strong>Phone:</strong> {{ userprofile.phone }}<br>
                06, Chaudhary Complex<br>
                TCP-2, Hisar Cantt<br>
                Hisar, Haryana 125006<br>
                India
            </address>
        </div>
    </div>

{% if userprofile.bio %}
    <div class="row info-group">
    <div class="col-lg-12">
        <h2>About me</h2>
        <hr />
{{ userprofile.bio }}
    </div>
    </div>
{% endif %}

{% if userprofile.get_education %}
<div class="row info-group">
    <div class="col-lg-12">
        <h2>Education</h2>
        <hr />
        <ol class="list-unstyled">
            {% for education in userprofile.get_education %}
            <li>
                <h3>{{ education.course}} <small>{{ education.school }}</small></h3>
                <em>{{ education.start_year }} - {{ education.end_year }}</em>
                <p>{{ education.about }}</p>
            </li>
            {% endfor %}
        </ol>
    </div>
</div>
{% endif %}

<div class="row info-group">
    <div class="col-lg-12">
        <h2>Skills</h2>
        <hr />
        <ul class="">
            <li>C</li>
            <li>Python</li>
            <li>C++</li>
            <li>Java</li>
            <li>HTML/CSS</li>
            <li>JavaScript</li>
            <li>Django</li>
            <li>Git</li>
        </ul>
    </div>
</div>

{% if userprofile.get_projects %}
<div class="row info-group">
    <div class="col-lg-12">
        <h2>Projects</h2>
        <hr />
        <ul class="list-unstyled">
            {% for project in userprofile.get_projects %}
            <li>
                <h3>{{ project.name }}</h3>
                <p>{{ project.about }}</p>
                <a href="{{ project.url }}" class="btn btn-default">Website</a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endif %}

{% if userprofile.get_experiences %}
<div class="row info-group">
    <div class="col-lg-12">
        <h2>Experience</h2>
        <hr />
        <ul class="list-unstyled">
            {% for experience in userprofile.get_experiences %}
            <li>
                <h3>{{ experience.position }} <strong>{{ experience.company }}</strong></h3>
                <em>{{ experience.start_date }} - {{ experience.end_date }}</em>
                <p>{{ experience.about }}</p>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endif %}
</div><!-- /container -->
<div class="row footer well">
    <p class="text-right">Built with Bootstrap3 and G2KM &copy 2013</p>
</div>
{% endblock body %}
